body {
    color: white;
    background: #282B38;
    font-family: 'Proxima Nova Rg';
    font-style: normal;
    
}
.header {
    overflow: auto;
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    padding: 25px;
}
.header_nav {
    float: left;
}
.header .header_wrap .header_nav .header_nav_item {
    float: left;
}
.header .header_wrap .header_nav .header_btn {
    float: right; }
.header .header_wrap .header_img {
        float: left; }
.header_btn {
    background: #E58D35;
    border-radius: 20px;         
}
.home {
    background-image: url(cargo); /*=====================================*/
    background-size: cover;
}
.primary_with_arrow {
    background: #E58D35;
    border-radius: 20px;
}





.calculation_prices {
    
    overflow: auto;
    flex-direction: row;
    background: #363A4D;
    width: 100%;
    max-width: 1207px;
    height: 100%;
    max-height: 917px;
}
.calculation_prices_wrap {
    overflow: auto;
}
.calculation_prices .calculation_prices_wrap_section .calculation_prices_wrap .calculation_prices_wrap_step {
    float: left;
}
.left_side {
    float: left;
    width: 100%;
    max-width: 625px;
    height: 100%;
    max-height: 597px;
}
.right_side {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 550px;
    float: right;
}









.why_us {
    overflow: auto;
    background: #6C7188;
    width: 1820px;
    height: 725px;
}
.why_us_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}
.why_us_item {
    width: 100%;
    max-width: 263px;
    height: 100%;
    max-height: 179px;
}






.transportation {
    overflow: auto;
    width: 100%;
    max-width: 1323px;
    height: 100%;
    max-height: 597px;
}
.delivery_item {
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 482px;
    text-align: center

}
.delivery_item_wrap {
    overflow: auto;
}
.delivery_item_option_item {
    float: left;
}
.transportation_wrap {
    overflow: auto;
}
.delivery_item {
    
    background:#363A4D;
    float: left;
    justify-content: center
}

.primary {
    background: #E58D35;
    border-radius: 20px; 
}
.secondary {
    background:#1E234226;
    border-radius: 20px; 
}




.services {
    background:#363A4D;
    overflow: auto;
    width: 100%;
    max-width: 1820px;
    height: 100%;
    max-height: 794px;
    text-align: center;
}
.services_wrap {overflow: auto;
}
.services_item {
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 482px;
    text-align: center;
    float: left;
    text-align: center;
}
.services_item_div {
    float: left;
}





.about_company {
    display: flex;
    overflow: auto;
}
.about_company_item {
    float: left;
}
.about_company_p {
    width: 100%;
    max-width: 555px;
    height: 100%;
    max-height: 331px;
}
.about_company_img {
    width: 100%;
    max-width: 632px;
    height: 100%;
    max-height: 632px;
}





.cooperation{
    overflow: auto;
    background: #363A4D;
    width: 100%;
    max-width: 1820px;
    height: 100%;
    max-height: 1265px;
    text-align: center;
}
.cooperation_item {
    
    display: flex;
    float: left;
}