body {
    color: white;
    background: #282B38;
    font-family: 'Proxima Nova Rg';
    font-style: normal;
    
}
.header {
   
    width: 100%;
    margin: 0px auto;
    padding: 25px;
}
.header_img_wrap {
    margin: 25px 100px 30px 390px;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-width: 1140px;
    margin: 0 auto;
}
.header_nav ul {
    display: flex;
}

.primary {
    background: #E58D35;
    border-radius: 20px;         
}
.home {
    background-image: url(cargo); /*=====================================*/
    background-size: cover;
}
.primary_with_arrow {
    background: #E58D35;
    border-radius: 20px;
}

.title_start {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.Ship {
    margin: 160px 1030px 230px 345px;
}


.calculation_prices {
   
    margin: 0 auto;
}
.calculation_prices_contaner{
    margin: 0px 340px 20px 355px;
}
.calculation_prices_wrap_form {
    
    display: flex;
    flex-wrap: wrap;
}

.calculation_prices_steps {
    display: flex;

}
.calculation_prices_step {
    width: 60px;
    height: 60px;
    text-align: center;
    background:#89C249;
    border-radius: 50%;
    margin: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 50px;
}
.calculation_prices_step_2{
    width: 60px;
    height: 60px;
    text-align: center;
    background:#4c5169;
    border-radius: 50%;
    margin: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 50px;
    
}
.calculation_prices_wrap_item {
    width: 50%;
}

.calculation_prices_wrap_item_2 {
    width: 526px;
}

.calculation_prices_contaner {
    display: flex;
}

.left_side {
    
    
    
    width: 100%;
    max-width: 635px;
    
}
.calculation_prices_wrap_form {
    background: #363A4D;
    border-radius: 20px;
}


.why_us {
    
    background: #363A4D;
    max-width: 1820px;
    padding: 90px 0px;
    border-radius: 20px;
    margin: 25px 325px 110px 250px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;

}

.title-left {
    text-align: left;
}

.why_us_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    
}
.why_us_item {
    width: 100%;
    max-width: 263px;
   
}






.transportation {
    
    width: 100%;
    max-width: 1323px;
    margin: 100px 290px;
    
}
.delivery_item {
    width: 100%;
    max-width: 360px;
    margin: 50px 100px 30px 90px;
    text-align: center

}


.transportation_wrap {
    display: flex;
    align-items: center;
    max-width: 1320px;
    
    
}
.delivery_item {
    
    background:#363A4D;
  
    justify-content: center;
    border-radius: 20px;

}

.primary {
    background: #E58D35;
    border-radius: 20px; 
}
.secondary {
    background:#1E234226;
    border-radius: 20px; 
}




.services {
    background:#363A4D;
    
    width: 100%;
    max-width: 1820px;
    text-align: center;
    margin: 100px 40px 60px 40px;
}
.services_wrap {
    display: flex;
    align-items: center;
}
.services_item {
    width: 100%;
    max-width: 360px;
    
    text-align: center;
    
    text-align: center;
}
.services_item {
    border-radius: 20px;
    background: #E58D35;
    
}





.about_company {
    display: flex;
    align-items:center;
    margin: 60px 340px 30px 380px;
    
}
.about_company_item {
    
}
.about_company_p {
    width: 100%;
    max-width: 555px;
    
}
.about_company_img {
    width: 100%;
    max-width: 632px;
    
}





.cooperation{
    
    background: #363A4D;
    width: 100%;
    max-width: 1845px;
    text-align: center;
    margin: 100px 40px 65px 40px;

}
.cooperation_item_wrap {
    display: flex;
   
}
.Fotter {
    display: flex;
    margin: 65px 390px 50px 390px;
}