body {
    color: white;
    font-family: 'Proxima Nova Rg';
    font-style: normal;
    background: #282B38;
}
header {
    font-family: 'Proxima Nova Rg';
    background:#282838;
    overflow: auto;
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    padding: 25px; 0px;

}
header .header_img {
    float: left;
}
.header_nav {
    float: left;
}
header .header_nav_ul {
    overflow: auto;
}
header .header_nav .header_nav_item {
    float: left;
}
header .header_btn {
    float: left;
}
.h1 {

}
.calculation_prices {
    overflow: auto;
}
.left_side {
    background: #363A4D;
    float: left;

}
.right_side{
    float: left;
}
.calculation_prices_wrap{
    overflow: auto;
    background: #363A4D;
}
.calculation_prices_wrap_step p {
    float: left;
}
.calculation_prices_wrap_form{
    overflow: auto;
}
.calculation_prices_wrap_item {
    float: left;
    width: 50%;
}
.why_us {
    overflow: auto;
    background:#363A4D
}
.why_us_wrap {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    align-content: center
    overflow: auto;
}

.why_us_item {
    
    width: 263px;
    

}
.Transportation {
    overflow: auto;
}
.delivery_item {
    float: left;
    overflow: auto;
    background:#363A4D;
}
.delivery_item_option_item {
    float: left;
}
.delivery_item_description {
    overflow: auto;
    float: left;
}
.delivery_item_btn_wrap {
    float: left;
}

.Services {
    overflow: auto;
    background:#363A4D;
    width: 100%;
    max-width: 1820px;
    height: 100%;
    max-height: 794px;
}
.services_wrap {
    overflow: auto;
}
.Services_item {
    float: left;
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 482px;
}
.services_item_img {
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 482px;
}

.about_company {
    display: flex;
    overflow: auto;
}

.about_company_item {
    
    overflow: auto;
    width: 50%;
}

.cooperation {
    background:#363A4D;
    float: left;

}
.cooperation_item {
    float: left;
}
.Fotter {
    float: left;
}
.footer_item {
    float: left;
}
.social_media {
    float: left;
    overflow: auto;
}
